<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h2>Welcome <%= username %></h2>
		<form action='/view/visitors' method='get'>
			<div>
				<input type='submit' name='viewVisitorsList' value='View Visitors List' />
			</div>
		</form>
	</body>
</html>