<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<img src="img/logo.png" alt="Logo">
		<h1><%= title %></h1>
		<h2><%= greeting %></h2>
		<h3>Please log in:</h3>
		<form action='/' method='post'>
			<div>
				<label>Email:  </label>
				<input type='text' name='email' />
			</div>
			<div>
				<label>Password:   </label>
				<input type='password' name='password' />
			</div>
			<div>
				<input type='submit' name='submitlogin' value='Login' />
			</div>
		</form>
		<br />
		<form action='/register?user_type=owner' method='get'>
			<div>
				<input type='submit' name='registerowner' value='New Owner Registration' />
			</div>
		</form>
		<p/>
		<form action='/register?user_type=visitor' method='get'>
			<div>
				<input type='submit' name='registervisitor' value='New Visitor Registration' />
			</div>
		</form>

	</body>
</html>